.nav-link{
    color: white;
}
.skill{
    color: white;
    padding: 10px;
}

#typewriter {
  overflow: hidden; /* hide overflow text */
  white-space: nowrap; /* prevent line breaks */
  font-size: 24px;
  font-family: monospace;
  letter-spacing: .15em;
  color: orange;
}

@font-face{
    font-family: 'myFont';
    src: url(../fonts/digital-7.ttf);
}

.details{
    color: white;
    font-size: 20px;
    margin-top: 25px;
}

#date{
    font-family: myFont;
    color: rgb(69, 223, 250);
    font-size: 18px;
    padding: 5px;
    border: 2px solid;
    border-color: white;
}
#time{
    font-family: myFont;
    color: orange;
    font-size: 18px;
    padding: 5px;
    border: 2px solid;
    border-color: white;
}
#c-btn{
    font-size: 13px;
    border: 2px white solid;
    margin-left: 12px;
}
#pic{
    border: 3px solid;
    border-radius: 100%; 
    border-color:  rgb(69, 223, 250);
    width: 300px;
    opacity: 90%;
}