.nav-link{
    color: white;
}
.skill{
    color: white;
    padding: 10px;
}

#typewriter {
  overflow: hidden; /* hide overflow text */
  white-space: nowrap; /* prevent line breaks */
  font-size: 24px;
  font-family: monospace;
  letter-spacing: .15em;
  color: orange;
}

@font-face{
    font-family: 'myFont';
    src: url(../fonts/digital-7.ttf);

}
#datetime{
    color: white;
    margin-left: 350px;
}
#date{
    font-family: myFont;
    color: rgb(69, 223, 250);
    font-size: 18px;
    padding: 5px;
    border: 2px solid;
    border-color: white;
}
#time{
    font-family: myFont;
    color: orange;
    font-size: 18px;
    padding: 5px;
    border: 2px solid;
    border-color: white;
}

@media screen and (max-width: 1200px) {
    #datetime {
        margin-left: 270px;
    }   
}

@media screen and (max-width: 1115px) {
    #datetime {
        margin-left: 250px;
    }
}

@media screen and (max-width: 768px) {
    #head {
        font-size: 14px important;
    }
}