.nav-link{
    color: white;
    font-weight: 300;
}
.skill{
    color: rgb(7, 235, 243);
    padding: 1px;
    font-weight: 300;
}
.nav-btn{
  color: rgb(255, 255, 255);
}

#dt-btn{
  background-color: transparent;
  border: 1px solid white;
  color:rgb(7, 235, 243);
  font-weight: 300;
}

#typewriter {
  overflow: hidden; /* hide overflow text */
  white-space: nowrap; /* prevent line breaks */
  font-size: 24px;
  font-family: monospace;
  letter-spacing: .15em;
  color: orange;
}

@font-face{
    font-family: 'myFont';
    src: url(../fonts/digital-7.ttf);
}
@font-face {
  font-family: 'pFont';
  src: url(../fonts/Typographica.ttf);
}

#hello{
  font-size: 60px;
  color: rgb(69, 223, 250);
  font-weight: 400;
}

.detail{
    color: white;
    font-size: 20px;
    margin-top: 25px;
}

.detail2{
  color: white;
  font-size: 20px;
  
}

#dbox{
  margin-top: -50px;
  font-weight: 300;
}

.hs-btn{
  color:rgb(69, 223, 250);
  font-weight: 300;
  background-color: transparent;
}
.drop1{
  padding: 30px;
}
.drop-m{
  background-color:  #212529;
  
}

#date{
    font-family: myFont;
    color: rgb(69, 223, 250);
    font-size: 18px;
    padding: 5px;
}
#time{
    font-family: myFont;
    color: orange;
    font-size: 18px;
    padding: 5px;
    width: 10px;
}
#c-btn{
    font-size: 13px;
    border: 2px white solid;
    margin-left: 12px;
}
#pic{
    border: 3px solid;
    border-radius: 100%; 
    border-color:  rgb(69, 223, 250);
    width: 300px;
    opacity: 90%;
    animation: border-move 2s infinite;;
}
.prog-border{
  border: 1px solid;
  border-color:  rgb(69, 223, 250);
  padding: 10px;
  
}
@keyframes border-move {
  0% {
    border-color: white;
  }
  50% {
    border-color:  rgb(69, 223, 250);
  }
  100% {
    border-color: orange;
  }
}

.form{
    background-color: transparent;  
    backdrop-filter: blur(5px);
    padding: 50px;
    border: 1px solid rgb(69, 223, 250);
    color: rgb(69, 223, 250);
}
#send-button{
 color: rgb(69, 223, 250);
 background: transparent;
 border: 1px solid rgb(69, 223, 250);
}
